<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mygrocerylist.listandshop">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="mygrocerylist.listandshop.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mygrocerylist.listandshop.AddNewItem">
        </activity>
        <activity android:name="mygrocerylist.listandshop.listSearch"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name="mygrocerylist.listandshop.CalendarClass"></activity>
        <receiver
            android:name="mygrocerylist.listandshop.BroadcastManager"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ALARM"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:host="*.lol" />
            </intent-filter>
        </receiver>

    </application>

</manifest>